<div class="login-container">
  <mat-card>
    <mat-card-title>Welcome Back</mat-card-title>
    <mat-card-subtitle>Please enter your credentials to sign in</mat-card-subtitle>

    <form [formGroup]="loginForm">
      <input matInput formControlName="username" type="text"/>
      <input matInput formControlName="password" type="password"/>
      <button 
        class="signin-button" 
        mat-raised-button
        type="submit" 
        (click)="login()"
        [disabled]="loginForm.invalid">
        Sign In
      </button>
      <p class="signup-link">Don't have an account? 
        <a (click)="signup()">Sign up</a>
      </p>
    </form>
  </mat-card>
</div>
