<div class="main-page">
<div class="app">
  <div class="conversations">
    <div class="heading">
      <div class="user">
        <div class="avatar">
          <img src="assets/images/portrait1.jpg" alt="img">
          <div class="status">

          </div>
        </div>
        <div class="name">
           <p>Good Morning</p>
           <p>{{ getLoggedInUserFullName() }}</p>
        </div>
      </div>

      <div class="actions">
         <button>
          <mat-icon svgIcon="plus"></mat-icon>
         </button>
         <button>
          <mat-icon class="bell" svgIcon="bell"></mat-icon>
          <div class="notification"></div>
         </button>
         <button>
          <mat-icon svgIcon="search"></mat-icon>
         </button>
      </div>
    </div>

    <div class="users-conversation">
       <div autofocus class="conversation-item" *ngFor="let user of users" (click)="onUserClick(user)">
      <div class="image">
        <div class="avatar">
          <img src="assets/images/portrait1.jpg" alt="img">
          <div class="status"></div>
        </div>
        <div class="name">
          <p>{{user.name}}</p>
          <p>Hi, this is process update</p>
        </div>
      </div>
      <div class="time">
         <p>09:59</p>
         <div class="badge">
            <p>1</p>
         </div>
      </div>
    </div>
    </div>
  </div>

  <div class="single-conversation" *ngIf="userClicked">
    <div class="heading" >
      <div class="user">
        <div class="avatar">
          <img src="assets/images/portrait1.jpg" alt="img">
          <div class="status" *ngIf="false">

          </div>
        </div>
        <div class="name">
           <p>{{ getSelectedUserFullName() }}</p>
           <p>Last seen Yesterday at 02.30PM</p>
        </div>
      </div>

      <div class="actions">
         <button>
          <mat-icon svgIcon="search"></mat-icon>
         </button>
         <button>
          <mat-icon svgIcon="phone"></mat-icon>
         </button>
         <button>
          <mat-icon svgIcon="ellipsis-vertical"></mat-icon>
         </button>
      </div>
    </div>

    <div class="messages" #chatContainer>
      <!-- <div class="user" *ngFor="let message of messages">
       <div class="about">
        <img src="assets/images/portrait1.jpg" alt="img">
        <div class="name">
         <p>Candy Bosley</p>
         <p>{{message.sendAt}} AM</p>
        </div>
       </div>

       <div class="message">
        <p>{{message.content}}</p><br>
       </div>
      </div> -->

      <!-- <app-user-message [messages]="selectedUserMessages" [userFullName]="getSelectedUserFullName()"></app-user-message> -->

      <!-- <div class="user-response" *ngFor="let message of messages">
        <div class="about" *ngIf="isSendByLoggedInUser(message.id)">   
          <div class="name">
           <p>You</p>
           <p>{{message.sendAt}} AM</p>
          </div>
          <img src="assets/images/portrait1.jpg" alt="img">
        </div>
 
        <div class="message">
         <p>{{message.content}}</p><br>
        </div>
       </div> -->

       <!-- <app-user-message-response [messages]="loggedInUserMessages"></app-user-message-response> -->
       <ng-template appDynamicHost></ng-template>

      <div class="send-message">
        <button class="emoji-button">
          <mat-icon svgIcon="emoji"></mat-icon>
        </button>

        <div class="vertical-line"></div>
        
        <input type="text" placeholder="Type your message here..." [(ngModel)]="messageContent">
        
        <button class="send-button" (click)="sendMessage()">
          <mat-icon svgIcon="send"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
</div>